<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Page</title>
    {% endif %}
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-md nav-bg fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="fixed-bottom">
        <div class="text-center">
            <p class="p-font">&copy; SomeCompany | <span>Since XXXX</span> | altered by HighEnergy</p>
        </div>
    </footer>
</body>
</html>