<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Page</title>
    {% endif %}
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-md nav-bg fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse">
                    {% if current_user.is_authenticated %}
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                        <a class="nav-link" href="{{ url_for('createPost') }}">Add Post</a>
                        <a class="nav-link" href="{{ url_for('ownedPost') }}">My Posts</a>
                        <a class="nav-link" href="{{ url_for('smile_store') }}">Store</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    {% endif %}
                </div>
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
                {% if current_user.is_authenticated %}
                    <div class="profile-container">
                        <img class="img-right" src="{{ url_for('static', filename='profile_pics/' + current_user.profile_picture) }}" alt="Not available">
                        <h3 class="name-right">{{ current_user.username | title }}</h3>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="container msg-flashes">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <span class="alert alert-{{category}} flashed">{{ message }}</span>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="fixed-bottom">
        <div class="text-center">
            <p class="p-font">&copy; SomeCompany | <span>Since XXXX</span> | altered by HighEnergy</p>
        </div>
    </footer>
</body>
</html>