{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Registration</legend>
            <div class="row">
                <div class="col form-group col-sm-3 mb-5">
                    {{ form.username.label(class="inline-label") }}
                    {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>
                <div class="col form-group col-sm-3 mb-5">
                    {{ form.email.label(class="inline-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col form-group col-sm-3 mb-5">
                    {{ form.password.label(class="inline-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="col form-group col-sm-3 mb-5">
                    {{ form.confirm_password.label(class="inline-label") }}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.confirm_password(class="form-control") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group col-sm-3 mb-5">
                {{ form.gender.label(class="inline-label") }}
                {{ form.gender(class="inline-choice") }}
            </div>
            <div class="form-group col-sm-3 mb-5">
                {{ form.recap }}
            </div>
        </fieldset>
        <div class="form-group col-sm-3 mb-5">
            {{ form.submit() }}
        </div>
        <div class="form-group col-sm-3 mb-5">
            <h5>Already have an account? Click <a href="{{ url_for('login') }}">here</a>!</h5>
        </div>
    </form>
</div>
{% endblock %}